* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(68, 80, 47);
  margin-top: 90px;
}
img {
  max-width: 300px;
  height: 250px;
  border-radius: 8px;
  margin: 20px 0px;
}
div {
  margin: auto;
  text-align: center;
  background-color: #ffffff70;
  max-width: 350px;
  height: 450px;
  border-radius: 8px;
  padding-top: 30px;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span,
p,
a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: large;
}
p{
    margin-bottom: 3px;
}
a {
  color: #000000;
  text-decoration: none;
}
button{
    background-color: rgb(148, 148, 148);
    margin-top: 5px;
    padding: 3px;
    border-radius: 4px;
}
